/* RESET */
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.col-3, .col-9 {
    padding: 0;
}

/* VARIABLES */
:root {
    /* colors */
    --notification-color: #8EDAFC;
    --sent-message-color: #D5F9BA;
    /* sizes */
    --header-footer-height: 7.5vh;
    --notifications-height: 10vh;
    --search-height: 4vh;
    --contact-box-height: 10vh;
}

/* COMMON */
.ms_container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc
    );
}

.ms_wrapper {
    width: 80%;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.ms_undername {
    font-size: 0.7rem;
    color: gray;
}

.ms_icon {
    color: gray;
    padding: 0 .4rem;
}

.ms-contacts-header, .ms_messages-header, .ms_footer-messages {
    height: var(--header-footer-height);
    width: 100%;
    margin: 0;
}

/* CONTACTS SECTION */
.ms_contacts-section {
    width: 100%;
    height: 100%;
}

.ms_photo-name {
    height: 80%;
}

.ms_contact-image {
    height: 80%;
    display: flex;
    align-items: center;
}

.ms_profile-image {
    height: 100%;
    padding: 0 .3rem;
}

.ms_notifications-icon {
    background-color: white;
    color: var(--notification-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_notification-text {
    font-size: .8rem;
}

.ms_notifications-link {
    font-size: .7rem;
    color: gray;
}

.ms-contacts-header {
    border-right: 1px solid lightgray;
}

.ms_notifications {
    height: var(--notifications-height);
    background-color: #8EDAFC;
}

.ms_search-newchat {
    height:var(--search-height);
}

.ms_input {
    border-radius: 0;
    border: 0 white;
}

.ms_magnifying-glass {
    color: gray;
}

.ms_contact-list {
    height: calc(100% - var(--header-footer-height) - var(--notifications-height) - var(--search-height));
    overflow-y: scroll;
}

.ms_contact-box {
    height: var(--contact-box-height);
    position: relative;
}

.ms_time {
    font-size: 0.7rem;
    color: gray;
    position: absolute;
    top: 5%;
    right: 0;
}

.ms_box-text, .ms_time {
    padding: .2rem .4rem;
}


/* MESSAGES SECTION */
.ms_messages-section {
    width: 100%;
    height: 100%;
}

.ms_main-messages {
    height: calc(100% - 2*var(--header-footer-height));
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.ms_footer-messages {
    border-left: 1px solid lightgray;
}

.ms_footer-input {
    border-color: white;
}

.ms_message-row {
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
}

/* UTILITIES */

.ms_message-square {
    min-width: 25%;
    max-width: 50%;
    padding: 5px 10px;
    margin: 0 50px;
    border-radius: 7px;
    word-wrap: break-word;
}

.ms_message-row.received {
    justify-content: start;
}

.ms_message-row.sent {
    justify-content: end;
}

.sent .ms_message-square {
    /* debug */
    background-color: lightgreen;
}

.received .ms_message-square {
    /* debug */
    background-color: white;
}